#restaurant {
    margin-top: 50px;
    margin-left: 10px;
}

#CreateRestaurants {
    padding: 50px;
    width: 90%;
    margin-bottom: 200px;

    .workTime{
        margin-bottom: 30px;
        .startTime{
            margin-right: 20px;
        }
    }
    .first-division {
        margin-bottom: 10px;
    }

    .add-btn {
        color: white;
        margin: 20px;
        border: none;
        background-color: #0D6EFD;
        padding: 5px 10px 5px 4px;
        border-radius: 5px;
    }

    .remove-btn {
        border: none;
        background-color: transparent;

        i {
            color: red;
        }
    }

    .profilePhoto {
        font-size: 17px;
        margin-bottom: 20px;
        .uploadSinglePhoto {
            background-color: #0D6EFD;
            padding: 10px 80px;
            border-radius: 5px;
            border: none;
            color: white;
        }

        .smallphoto {
            margin: 10px 10px 10px 0px;
        }

        .update {
            margin: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            color: black;
            border: 1px solid black;
            background-color: transparent;
        }

        .remove {
            border: none;
            background-color: transparent;
            border: 1px solid black;
            padding: 10px 20px;
            border-radius: 5px;
            i {
                color: red;
            }
        }
    }

    .photos {
        font-size: 17px;
        .uploadSinglePhoto {
            background-color: #0D6EFD;
            padding: 10px 80px;
            border-radius: 5px;
            border: none;
            color: white;
        }

        .smallphoto {
            margin: 10px 10px 10px 0px;
        }

        .update {
            margin: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            color: black;
            border: 1px solid black;
            background-color: transparent;
        }

        .remove {
            border: none;
            background-color: transparent;
            border: 1px solid black;
            padding: 10px 20px;
            border-radius: 5px;

            i {
                color: red;
            }
        }
    }
    .submit{
        color: white;
        margin: 20px 0px 0px 0px;
        border: none;
        background-color: #0D6EFD;
        padding: 10px 100px ;
        border-radius: 5px;
    }
    .select{
        margin-bottom: 20px;
    }
    .fileUpload {
        button{
            background-color: rgb(51, 255, 102);
            border: none;
            padding: 10px;
            border-radius: 5px;
        }
    }
}

#UpdateRestaurants {
    padding: 50px;
    width: 90%;
    margin-bottom: 200px;

    .workTime{
        margin-bottom: 30px;
        .startTime{
            margin-right: 20px;
        }
    }
    .first-division {
        margin-bottom: 10px;
    }

    .add-btn {
        color: white;
        margin: 20px;
        border: none;
        background-color: #0D6EFD;
        padding: 5px 10px 5px 4px;
        border-radius: 5px;
    }

    .remove-btn {
        border: none;
        background-color: transparent;

        i {
            color: red;
        }
    }

    .profilePhoto {
        font-size: 17px;
        margin-bottom: 20px;
        .uploadSinglePhoto {
            background-color: #0D6EFD;
            padding: 10px 80px;
            border-radius: 5px;
            border: none;
            color: white;
        }

        .smallphoto {
            margin: 10px 10px 10px 0px;
        }

        .update {
            margin: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            color: black;
            border: 1px solid black;
            background-color: transparent;
        }

        .remove {
            border: none;
            background-color: transparent;
            border: 1px solid black;
            padding: 10px 20px;
            border-radius: 5px;
            i {
                color: red;
            }
        }
    }

    .photos {
        font-size: 17px;
        .uploadSinglePhoto {
            background-color: #0D6EFD;
            padding: 10px 80px;
            border-radius: 5px;
            border: none;
            color: white;
        }

        .smallphoto {
            margin: 10px 10px 10px 0px;
        }

        .update {
            margin: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            color: black;
            border: 1px solid black;
            background-color: transparent;
        }

        .remove {
            border: none;
            background-color: transparent;
            border: 1px solid black;
            padding: 10px 20px;
            border-radius: 5px;

            i {
                color: red;
            }
        }
    }
    .submit{
        color: white;
        margin: 20px 0px 0px 0px;
        border: none;
        background-color: #0D6EFD;
        padding: 10px 100px ;
        border-radius: 5px;
    }
    .select{
        margin-bottom: 20px;
    }
    .fileUpload {
        button{
            background-color: rgb(51, 255, 102);
            border: none;
            padding: 10px;
            border-radius: 5px;
        }
    }
}